.content--container {
    margin: 0 auto;
    padding: 0 $m-size;
    max-width: 80rem;
}

.content--container-center {
    margin: 1rem auto 3rem auto;
    padding: 0 $m-size;
    max-width: 80rem;
}


// margin: 1rem auto, 2rem, auto;